.spinner {
    margin: 30px auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #ccc;
    animation: spin 1.0s linear infinite;
    border-bottom-color: #272c30;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}